body {
    background-color: #2B3032;
}

h1 {
    font-family: 'Raleway';
    font-size: 70pt;
    color: #35CEE9;
    /*-webkit-text-stroke: 1px white;*/
    text-shadow: 3px 2px white ;
}
.boxes {
    z-index: -1;
}

.iBorder {
    border-width: 20px;
    /*border:solid #185E8A;*/
    margin: 15px;
    border-radius: 5px;
    z-index: 1;
}

img:hover {
    box-shadow: 0 10px 25px 10px rgba(0,0,0,0.3);
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	
}
img:hover {
	-webkit-transform: scale(.9);
	transform: scale(.9);
}

.angrytext{
    margin-left: auto;
    position:fixed;
    top:150px;
    font-size:100pt;
    color: white;
    /*border: red;*/
    font-family: 'Raleway', sans-serif;
     -webkit-text-stroke: 5px red;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

button {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    font-size: 50px;
    border: 1px solid #000;
}
